:root {
    --orange: hsl(25, 97%, 53%);

    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --lighter-dark-blue: rgb(37,47,56);
    --dark-blue: rgb(27, 34, 44);
    --very-dark-blue: hsl(216, 12%, 8%);
}

html {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
}

.visible {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

body {
    background-color: var(--very-dark-blue);
}

.card {
    background-color: var(--dark-blue);
    margin: 0 25px;
    padding: 25px;
    border-radius: 1.5rem;
}

.card > * {
    margin-bottom: 25px;
}

.card > button {
    margin-bottom: 0;
}

img {
    width: 1rem;
    height: 1rem;
}

.icon-container {
    background-color: var(--lighter-dark-blue);
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 50%;
}

h2 {
    font-weight: 400;
}

.content, .rating {
    color: var(--medium-grey);
}

.rating-choices {
    display: flex;
    justify-content: space-between;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lighter-dark-blue);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

button {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .25rem;
    background-color: var(--orange);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
}